@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Container 

None	width: 100%;
sm (640px)	max-width: 640px;
md (768px)	max-width: 768px;
lg (1024px)	max-width: 1024px;
xl (1280px)	max-width: 1280px;
2xl (1536px)	max-width: 1536px;

 */

html,
body {
  font-family: Roboto, Helvetica;
  background-color: #ebebeb;
}

.gradient-white {
  background: linear-gradient(90deg,
  rgba(255, 255, 255, 0.8) 80%,
  rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 576px) {
  .gradient-white {
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0.5) 115%);
  }
}

@media (max-width:1023px) {
  .desktop-only {
    display: none;
  }
}